<div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-secondary h-100 sidebar-content">
    <div class="navbar m-0 p-0">
        <div class="container-fluid m-0 p-0">
            <a href="/index.html"
                class="d-flex align-items-center mb-0 mx-md-auto text-black text-decoration-none text-wrap" style="height: 11%;">
                <img class="img-fluid" src="/assets/img/logoNoBack.png" alt="logo" style="max-height: 7vh;">
            </a>

            <i class="fa-solid fa-x fa-lg text-white" data-bs-dismiss="offcanvas" style="cursor: pointer;"></i>
        </div>
    </div>
    
    <hr class="text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-3">
            <a href="/index.html" class="nav-link btn-sidebar" id="btnCollapsedSidebarHome">
                <i class="fa-solid fa-house"></i>
                <span class="ms-2 btn-sidebar-text">Home</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="/Courses.html" class="nav-link btn-sidebar" id="btnCollapsedSidebarCourses">
                <i class="fa-solid fa-book"></i>
                <span class="ms-2 btn-sidebar-text">Courses</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="/Exam.html" class="nav-link btn-sidebar" id="btnCollapsedSidebarExams">
                <i class="fa-solid fa-bookmark"></i>
                <span class="ms-2 btn-sidebar-text">Exams</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="/ExamSessions.html" class="nav-link btn-sidebar" id="btnCollapsedSidebarExamSessions">
                <i class="fa-solid fa-calendar-days"></i>
                <span class="ms-2 btn-sidebar-text">Exam sessions</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="/Students.html" class="nav-link btn-sidebar" id="btnCollapsedSidebarStudents">
                <i class="fa-solid fa-user-graduate"></i>
                <span class="ms-2 btn-sidebar-text">Students</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="/Professors.html" class="nav-link btn-sidebar" id="btnCollapsedSidebarProfessors">
                <i class="fa-solid fa-user-tie"></i>
                <span class="ms-2 btn-sidebar-text">Professors</span>
            </a>
        </li>
    </ul>
</div>