<nav class="navbar sticky-top bg-secondary h-100 py-0">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/pages/index.html">
            <img class="img-fluid" src="/assets/img/logo.png" alt="Logo" style="max-height: 5rem;">
        </a> -->
        <button class="btn btn-primary btn-open-sidebar" type="button" data-bs-toggle="offcanvas" data-bs-target="#collapsedSidebar">
            <i class="fa-solid fa-bars"></i>
        </button>

        <h2 class="text-white header-title">University Management</h2>

        <a class="navbar-brand" href="https://itsincom.it" target="_blank">
            <img class="img-fluid bg-white rounded-circle p-2" src="/assets/img/LogoITS.png" alt="Logo" style="max-height: 6vh;">
        </a>

    </div>
</nav>