<div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-secondary h-100 sidebar-content">
	<a href="/index.html"
		class="d-flex align-items-center mb-3 mb-md-0 mx-md-auto text-black text-decoration-none text-wrap" style="height: 11%;">
		<img class="img-fluid" src="/assets/img/logoNoBack.png" alt="logo" style="max-height: 7vh;">
		<!-- <span class="fs-5">University Management</span> -->
	</a>
	<hr class="text-white">
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item mb-3">
			<a href="/index.html" class="nav-link btn-sidebar" id="btnSidebarHome">
				<i class="fa-solid fa-house"></i>
				<span class="ms-2 btn-sidebar-text">Home</span>
			</a>
		</li>
		<li class="nav-item mb-3">
			<a href="/Courses.html" class="nav-link btn-sidebar" id="btnSidebarCourses">
				<i class="fa-solid fa-book"></i>
				<span class="ms-2 btn-sidebar-text">Courses</span>
			</a>
		</li>
		<li class="nav-item mb-3">
			<a href="/Exam.html" class="nav-link btn-sidebar" id="btnSidebarExams">
				<i class="fa-solid fa-bookmark"></i>
				<span class="ms-2 btn-sidebar-text">Exams</span>
			</a>
		</li>
		<li class="nav-item mb-3">
			<a href="/ExamSessions.html" class="nav-link btn-sidebar" id="btnSidebarExamSessions">
				<i class="fa-solid fa-calendar-days"></i>
				<span class="ms-2 btn-sidebar-text">Exam sessions</span>
			</a>
		</li>
		<li class="nav-item mb-3">
			<a href="/Students.html" class="nav-link btn-sidebar" id="btnSidebarStudents">
				<i class="fa-solid fa-user-graduate"></i>
				<span class="ms-2 btn-sidebar-text">Students</span>
			</a>
		</li>
		<li class="nav-item mb-3">
			<a href="/Professors.html" class="nav-link btn-sidebar" id="btnSidebarProfessors">
				<i class="fa-solid fa-user-tie"></i>
				<span class="ms-2 btn-sidebar-text">Professors</span>
			</a>
		</li>
	</ul>
</div>